{% extends "blog/base.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1>Ask Django</h1>
			<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
		</div>

		<a class="btn btn-primary">Primary Button</a>
		<a class="btn btn-info">Info Button</a>
		<a class="btn btn-success">Success Button</a>
		<a class="btn btn-danger">Danger Button</a>
	</div>
{% endblock %}

