{% extends "magazine/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ article.title }}</h3>
            <div class="panel panel-info">
                <div class="panel-body">
                    {{ article.content|linebreaks }}
                </div>
            </div>

            <p>
                <a href="{% url "magazine:article_list" %}" class="btn btn-default">
                    Article List
                </a>

                <a href="{% url "magazine:article_edit" article.pk %}" class="btn btn-default">
                    Edit
                </a>

                <a href="{% url "magazine:article_delete" article.pk %}" class="btn btn-danger">
                    Delete
                </a>
            </p>

            <form action="{% url "magazine:comment_new" article.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="댓글쓰기" class="btn btn-block btn-primary" />
            </form>

            <!--
            <p><a href="{% url "magazine:comment_new" article.pk %}" class="btn btn-primary btn-block">New Comment</a></p>
            -->

            {% for comment in article.comment_set.all %}
                <div class="media">
                    <div class="media-body">
                        <p>
                            {{ comment.message }} <small>by {{ comment.author }}</small>
                            <a href="{% url "magazine:comment_edit" article.pk comment.pk %}" title="수정">E</a>
                            <a href="{% url "magazine:comment_delete" article.pk comment.pk %}" class="text text-danger" title="삭제">D</a>
                        </p>
                    </div>
                </div>
            {% empty %}
                <p class="alert alert-info">등록된 댓글이 없습니다.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

